<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://unpkg.com/ionicons@4.0.0/dist/ionicons.js"></script>
</head>

<body>
  <nav class="navbar navbar-default" style=" background-color: #FFFFFF;">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
           <a href="/"><img src="/static/photos/LogoMakr_7TMhUf.png" style='width:5%; height:2%; padding-top:1%'alt="logo"></a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
       
          <form class="navbar-form navbar-left"role="search" action="{% url 'search_username' %}">
            <div class="form-group navbar-right">
              <input style="background:#FAFAFA;"type="text" class="form-control" placeholder="Search" name="username">
            </div>
            <!-- <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button> -->
          </form> 
          {% if user.is_authenticated %}
          <ul class="nav navbar-nav navbar-right" style="display:inline;">
              <li style="list-style-type: none; font-size:200%;"><a href="{% url 'explore' %}"><ion-icon name="compass"></ion-icon></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false"><span><ion-icon style="font-size:200%;"name="contact"></ion-icon><class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/upload">Upload Photo</a></li>
                <li><a href="/accounts/profile/">{{user.username}}</a></li>
                <li><a href="/accounts/password/change">Change Password</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
           
          </ul>
          
         
            {%else%}
            <ul class="nav navbar-nav navbar-right">
                <li> <a href="/accounts/login">Login</a> </li>
              </ul>
             </div>
                
           
            {% endif %}
         
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
</body>

</html>