{% extends 'user/base.html' %}
{% block content %}
{% load bootstrap3 %}


<!-- styling -->
{% block styles %}
{% bootstrap_css%}
{% endblock %}

<!-- form -->
<h3>Comment</h3>
{{form.media}}

<form action="{% url 'addcomment' %}" method="post">
  {% csrf_token %} {% bootstrap_form form %}
  <input type="submit" class="btn btn-success" value="post" s>
</form>


{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% bootstrap_javascript %} {% endblock %}

{% endblock %}