{% extends 'user/base.html' %}
{% block content %}
{% load bootstrap3 %}


<!-- styling -->
{% block styles %}
{% bootstrap_css%}
{% endblock %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
        <h3>Comment</h3>


        <form action="{% url 'addcomment' id %}" method="post">
          {% csrf_token %} {% bootstrap_form form %}
          <input type="submit" class="btn btn-success" value="post" s>
        </form>
    </div>
  </div>
</div>
<!-- form -->



{% endblock %}