
{% extends 'user/base.html' %} 
{% load bootstrap3 %}
{% block content %}
{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="static/css/index.css">
{% endblock %}

<div class="container">
    <div class="row">
       

            {% if images %} {% for image in images %}
            <div class="col-md-6">
            <div class="card" style="max-width: 90rem;">
                <div class="card-body">
                    <h5 class="card-title">
                    <hr>
                    <div class="card-body">
                        <a href="{% url 'viewimage' id=image.pk %}"> <img src=" {{image.image.url}}" class="img-responsive" alt=" image"></a>
                    </div>
                    <span style="  margin-bottom:4%;"><a href="{% url 'userprofile' %}"> <h5>{{image.profile.user.username}}</a></h5>{{image.image_caption}}</h5></span>
                </div>
                
                <span style="font-size:200%; padding:3%;">
                    {{image.likes.count}} 
                <ion-icon name="heart-empty"></ion-icon> 
                <a href="{% url 'addcomment' id=image.pk %}"><ion-icon name="chatbubbles"></ion-icon> </a>
            </span>
                    <!-- <a href="{% url 'viewimage' id=image.pk %}">View Comments</a> -->
                </p>
                
            </div>
            
           
            
            
           
        </div>
        {% endfor %} {% else %}
        <h1 class="text-center">Welcome! start posting now</h1>
        {% endif %}
    </div>
</div>


{% endblock %}