{% extends 'user/base.html' %} {% block content %}
<div class="container">
    <div class="row">
        <!-- remember to add function for profile picture -->
        <div class="col-md-6 col-md-offset-3">
            <div id="addprofile" class="text-center">
                <h4>Add a profile picture</h4>
                <input type="submit" action="/accounts/profile/" value="Add Profile Picture">
            </div>

        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            {% if images %}
            {% for image in images %}
            Profile:{{image.profile}}
            <hr>
            <img src="{{image.image.url}}" class="img-responsive" alt=" image"> 
            <hr>
            Caption:{{image.image_caption}}
            <hr>
            {% for comment in comments %}
            {{comment.user}}:{{comment.comment}}
            <br>~{{comment.posted}}
            <br>
            {% endfor %}
            <hr>
            <p><a href="{% url 'addcomment' id=image.pk %}">Comment... </a> </p>
            <br>
            {% endfor %} 
            {% else %}
            <h1 class="text-center">Welcome! start posting now</h1>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
  