{% extends 'user/base.html' %} 
{% load bootstrap3 %}
{% block content %}
{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="static/css/index.css">
{% endblock %}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-2">

            {% if images %} {% for image in images %}
            <div class="card" style="max-width: 90rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'userprofile' %}">
                        <span> <img style="width:50px; height:50px ; border-radius:50%;" src=" {{image.profile.profile_photo.url}}" class="img-responsive" alt=" image"> {{image.profile.user.username}}</span></a></h5>
                    <hr>
                    <div class="card-body">
                        <a href="{% url 'viewimage' id=image.pk %}"> <img src=" {{image.image.url}}" class="img-responsive" alt=" image"></a>
                    </div>
                    <h5>{{image.image_caption}}</h5>
                </div>
                 
                <span style="font-size:200%; padding:3%;">
                    {{image.likes.count}}
                    <ion-icon name="heart-empty"></ion-icon> 
                <a href="{% url 'addcomment' id=image.pk %}"><ion-icon name="chatbubbles"></ion-icon> </a>
            </span>
             <p style="margin-left:1%;">
                    <a href="{% url 'viewimage' id=image.pk %}">View details</a>
                    
                </p>
            </div>
            <div class="tooltip">Hover over me
                <span class="tooltiptext">Tooltip text</span>
              </div>
           
            {% endfor %} {% else %}
            <h1 class="text-center">Welcome! start posting now</h1>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}