{% extends 'user/base.html' %} {% block content %}
<div class="container">
    <div class="row">
        <!-- remember to add function for profile picture -->
        <div class="col-md-6 col-md-offset-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img style="width:40%; border-radius:99%;" src="{{profiles.profile_photo.url}}" class="img-responsive" alt="profile picture">
                        <h2>{{profiles.name}}</h2>
                        <h4>{{profiles.bio}}</h4>


                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {% if images %} {% for image in images %}
            <img src="{{image.image.url }}" alt="here is a photo"> {% endfor %} {% endif %}

        </div>
    </div>
</div>
{% endblock %}