{% extends 'user/base.html' %} {% block content %}

<!-- remember to add function for profile picture -->

<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-1 centered">
            <img style="width:40%; border-radius:99%;" src="{{profiles.profile_photo.url}}" class="img-responsive" alt="profile picture">
        </div>
        <div class="col-md-3 col-md-offset-1">
            <h2>{{profiles.name}}</h2>
            <h4>{{profiles.bio}}</h4>
            <h4>Followers: {{profiles.followers.count}}
            Following: {{profiles.following.count}}</h4>

            <button>
                <a href="/profile/edit/"> Edit Profile</a>
            </button>

        </div>

    </div>

</div>

<div class="container">
    <div class="row">
        {% if images %} {% for image in images %}
        <div class="col-md-3">

                <a href="{% url 'viewimage' id=image.pk %}"><img src="{{image.image.url }}" alt="here is a photo" style="height:50%;" class="img-responsive"></a>

        </div>
        {% endfor %} {% endif %}
    </div>
</div>
{% endblock %}