{% extends 'user/base.html' %} {% block content %}
<div class="container">
    <div class="row">
        <!-- remember to add function for profile picture -->
        <div class="col-md-6 col-md-offset-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                            <img src="{{profiles.profile_photo.url}}" class="img-responsive" alt="profile picture">
                            <h1>{{profiles.bio}}</h1>
                            
                    </div>
                </div>
            </div>
            
            

        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

           
        </div>
    </div>
</div>
{% endblock %}